.netrwhist
npm-debug.log
zsh/.config/nvim/spell
zsh/.config/nvim/shada
vim/vim.symlink/spell/
vim/vim.symlink/plugged/
Brewfile.lock.json
lazy-lock.json
config/kitty/kitty-overrides.conf
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_sessions
